Repository KindaiCVLAB/machinelearning-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

Path conditions:
  cuda10.0: (any of: cuda10.0/*, .gitlab-ci.yml) or (any of: cuda10.0/*, .gitlab/docker-build/cuda10.0.yaml)
  cuda10.0-docker: (any of: cuda10.0-docker/*, .gitlab-ci.yml) or (any of: cuda10.0-docker/*, .gitlab/docker-build/cuda10.0-docker.yaml)
  cuda10.0-fukushima: any of: cuda10.0-fukushima/*, .gitlab-ci.yml
  cuda10.2-cudnn7: any of: cuda10.2-cudnn7/*, .gitlab-ci.yml
  cuda10.2-cudnn7-docker: any of: cuda10.2-cudnn7-docker/*, .gitlab-ci.yml
  cuda10.2-cudnn8: any of: cuda10.2-cudnn8/*, .gitlab-ci.yml
  cuda11.0-cudnn8: (any of: cuda11.0-cudnn8/*, .gitlab-ci.yml) or (any of: cuda11.0-cudnn8/*, .gitlab/docker-build/cuda11.0-cudnn8.yaml)
  cuda11.1-cudnn8: any of: cuda11.1-cudnn8/*, .gitlab/docker-build/cuda11.1-cudnn8.yaml

use template
  .gitlab-ci.yml
  .gitlab/docker-build/code-server-test.yaml
  .gitlab/docker-build/cuda10.0-docker.yaml
  .gitlab/docker-build/cuda10.0-fukushima.yaml
  .gitlab/docker-build/cuda10.0.yaml
  .gitlab/docker-build/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  .gitlab/docker-build/template.yaml
  code-server-test/Dockerfile
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

fixed docs
  README.md
Due: none

change cupy-cuda version in cuda11.1-cudnn8
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.1-cudnn8

change version cupy-cuda in cuda11.1
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

change tnsorflow from tensorflow-gpu==2.3.1 to tf-nightly==2.5.0.dev20201109 in cuda11.x
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

change pytorch from torch==1.6.0 to torch==1.7.0 in cuda11.x
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

change torchvision from torchvision==0.7.0 to torchvision==0.8.1 in cuda11.x
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

write clearly version of cupy-cuda1xx
  code-server-test/Dockerfile
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

update node.js version from 14 to 15
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

update following packages in cuda10.2-cudnn8 - torch 1.7.0 - tensorflow-gpu 2.3.1 - keras 2.4.3 - anaconda3 2020.07 - opencv-python 4.4.0.46 - nodejs 14.x
  cuda10.2-cudnn8/Dockerfile
Due: cuda10.2-cudnn8

add cuda10.1-cudnn7 & 8
  .gitlab-ci.yml
  .gitlab/docker-build/cuda10.1-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn8.yaml
  cuda10.1-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

update the following packages in cuda10.2-cudnn7 & cuda10.2-cudnn7-docker
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
Due: cuda10.2-cudnn7, cuda10.2-cudnn7-docker

fixed version in docs
  README.md
Due: none

fixed tf version for cuda11.1 in docs
  README.md
Due: none

get ready all gitlab-ci scripts
  .gitlab/docker-build/code-server-test.yaml
  .gitlab/docker-build/cuda10.0-docker.yaml
  .gitlab/docker-build/cuda10.0-fukushima.yaml
  .gitlab/docker-build/cuda10.0.yaml
  .gitlab/docker-build/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
Due: cuda10.0, cuda10.0-docker, cuda11.0-cudnn8, cuda11.1-cudnn8

update packegae in cuda11.1-cudnn8
  cuda11.1-cudnn8/Dockerfile
Due: cuda11.1-cudnn8

update packege in cuda11.0-cudnn8
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  cuda11.0-cudnn8/Dockerfile
Due: cuda11.0-cudnn8, cuda11.1-cudnn8

ad cmake
  cuda10.2-cudnn8/Dockerfile
Due: cuda10.2-cudnn8

update package in cuda10.2-xxx
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
Due: cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

update cupy-cudaxxx
  README.md
  cuda10.1-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

update docs
  README.md
Due: none

add dumb-init , update torch
  README.md
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.1-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

update docs
  .gitlab-ci.yml
  README.md
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

[skip ci] update docs
  README.md
Due: none

Add codeserver binary
  .gitlab-ci.yml
  README.md
  code-server-test/Dockerfile
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.1-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

manage version
  .gitlab-ci.yml
  .gitlab/docker-build/closed/cuda10.0-docker.yaml
  .gitlab/docker-build/closed/cuda10.0-fukushima.yaml
  .gitlab/docker-build/closed/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.0-cudnn7.yaml
  .gitlab/docker-build/cuda10.0-docker.yaml
  .gitlab/docker-build/cuda10.0.yaml
  .gitlab/docker-build/cuda10.1-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn8.yaml
  .gitlab/docker-build/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  .gitlab/docker-build/template.yaml
  Makefile
  README.md
  closed/cuda10.0-docker/Dockerfile
  closed/cuda10.0-fukushima/Dockerfile
  closed/cuda10.2-cudnn7-docker/Dockerfile
  code-server-test/Dockerfile
  cuda10.0-cudnn7/Dockerfile
  cuda10.1-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
  tests/test_cmd.py
  tests/test_import.py
  tests/test_pip.py
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

Add badge
  .gitlab-ci.yml
  .gitlab/docker-build/cuda10.0-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn8.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  .gitlab/docker-build/set_versions.yaml
  .gitlab/docker-build/template.yaml
  Makefile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

merge Dockerfile
  .gitlab-ci.yml
  .gitlab/docker-build/closed/code-server-test.yaml
  .gitlab/docker-build/cuda10.0-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn8.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  .gitlab/docker-build/template.yaml
  .gitlab/docker-build/versions.yaml
  Dockerfile
  README.md
  closed/code-server-test/Dockerfile
  cuda10.0-cudnn7/Dockerfile
  cuda10.1-cudnn8/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

update 2021 january
  .gitlab/docker-build/versions.yaml
  README.md
Due: none

Add guide
  .gitlab/issue_templates/normal.md
  .gitlab/issue_templates/update_libraries.md
  .gitlab/merge_request_templates/normal.md
  CONTRIBUTING.md
Due: none

Change ci rule
  .gitlab-ci.yml
  .gitlab/docker-build/cuda10.0-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn7.yaml
  .gitlab/docker-build/cuda10.1-cudnn8.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  .gitlab/docker-build/enable-merge.yaml
  .gitlab/docker-build/template.yaml
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8, cuda11.1-cudnn8

separate jobs
  .gitlab-ci.yml
  .gitlab/docker-build/pipline-flow.yaml
  .gitlab/docker-build/pipline-templates.yaml
  .gitlab/docker-build/rules.yaml
  .gitlab/docker-build/template.yaml
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

fix trigger to run jobs
  .gitlab/docker-build/closed/code-server-test.yaml
  .gitlab/docker-build/closed/cuda10.0-docker.yaml
  .gitlab/docker-build/closed/cuda10.0-fukushima.yaml
  .gitlab/docker-build/closed/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/rules.yaml
  README.md
  closed/code-server-test/Dockerfile
  closed/cuda10.0-docker/Dockerfile
  closed/cuda10.0-fukushima/Dockerfile
  closed/cuda10.2-cudnn7-docker/Dockerfile
Due: none

Manage pyenv version
  .gitlab/docker-build/pipline-templates.yaml
  .gitlab/docker-build/versions.yaml
  .gitlab/issue_templates/update_libraries.md
  Dockerfile
  README.md
  tests/test_cmd.py
Due: none

add yzhang.markdown-all-in-one
  Dockerfile
Due: none

Add 11.0.3
  .gitlab-ci.yml
  .gitlab/docker-build/cuda11.0.3-cudnn8.yaml
  .gitlab/docker-build/rules.yaml
  .gitlab/docker-build/versions.yaml
  CONTRIBUTING.md
  README.md
  tests/test_cmd.py
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

refactor
  .gitlab-ci.yml
  .gitlab/docker-build/cuda10.0-cudnn7/jobs.yaml
  .gitlab/docker-build/cuda10.0-cudnn7/versions.yaml
  .gitlab/docker-build/cuda10.1-cudnn7/jobs.yaml
  .gitlab/docker-build/cuda10.1-cudnn7/versions.yaml
  .gitlab/docker-build/cuda10.1-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda10.1-cudnn8/versions.yaml
  .gitlab/docker-build/cuda10.2-cudnn7/jobs.yaml
  .gitlab/docker-build/cuda10.2-cudnn7/versions.yaml
  .gitlab/docker-build/cuda10.2-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda10.2-cudnn8/versions.yaml
  .gitlab/docker-build/cuda11.0-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda11.0-cudnn8/versions.yaml
  .gitlab/docker-build/cuda11.0.3-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda11.0.3-cudnn8/versions.yaml
  .gitlab/docker-build/cuda11.1-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda11.1-cudnn8/versions.yaml
  .gitlab/docker-build/rules.yaml
  .gitlab/docker-build/versions.yaml
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

add cuda 11.1.1
  .gitlab-ci.yml
  .gitlab/docker-build/cuda11.1.1-cudnn8/jobs.yaml
  .gitlab/docker-build/cuda11.1.1-cudnn8/versions.yaml
  .gitlab/docker-build/enable-merge.yaml
  README.md
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8, cuda11.0-cudnn8

add configs for code-server
  Dockerfile
  configs/vscode.json
Due: none

add config json
  Dockerfile
  configs/vscode/base.json
  configs/vscode/container-building.json
  configs/vscode/controller.json
  configs/vscode/vscode.json
Due: none
