Repository KindaiCVLAB/machinelearning-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

docker19.03.12:
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  stage: build-dind
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: docker19.03.12
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

docker19.03.12-dind:
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  stage: build-dind
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: docker19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

cuda10.0:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.0
  before_script:
  ...

cuda10.0-docker:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.0
  before_script:
  ...

cuda10.0-fukushima:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.0-fukushima
  before_script:
  ...

cuda10.2-cudnn7:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.2-cudnn7
  before_script:
  ...

cuda10.2-cudnn7-docker:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.2-cudnn7-docker
  before_script:
  ...

cuda10.2-cudnn8:
  image: registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12
  services:
  - registry.gitlab.com/kindaicvlab/deeplearning:docker:19.03.12-dind
  stage: docker-build
  tags:
  - gitlab-org-docker
  variables:
    CONTAINER_VERSION: cuda10.2-cudnn8
  before_script:
  ...

add cuda10.2-cudnn8
  .gitlab-ci.yml
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

add cuda10.2-cudnn8
  .gitlab-ci.yml
  cuda11.0-cudnn8/Dockerfile
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

fixed TLS
  .gitlab-ci.yml
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

change dind host name
  .gitlab-ci.yml
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

remove stage prepare-dind
  .gitlab-ci.yml
  docker19.03.12-dind/Dockerfile
  docker19.03.12/Dockerfile
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

check lower case
  .gitlab-ci.yml
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

check lower case
  .gitlab-ci.yml
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

remove duplicate dir
  CUDA10.0-DOCKER/Dockerfile
  CUDA10.0-FUKUSHIMA/Dockerfile
  CUDA10.0/Dockerfile
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima

add lower case dir
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima

change command to run jupyter from CMD to ENTRYPOINT in Dockerfile for docker
  cuda10.0-docker/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
Due: cuda10.0-docker, cuda10.2-cudnn7-docker

remove .DS_Store
  .DS_Store
Due: none

change library version in cuda11.0-cudnn8
  cuda11.0-cudnn8/Dockerfile
Due: none

add libraries in cuda10.0
  cuda10.0/Dockerfile
Due: cuda10.0

add libraries in cuda10.hoge & cuda 11.0
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

add version for torchsummary
  README.md
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima

fixed some tables
  README.md
Due: none

add docs for cuda10.2-hoge
  README.md
Due: none

add note in docs
  README.md
Due: none

fixed indent in docs
  README.md
Due: none

add pycocotools
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

support cuda11.1
  .gitlab-ci.yml
  .gitlab/docker-build/cuda10.0-docker.yaml
  .gitlab/docker-build/cuda10.0-fukushima.yaml
  .gitlab/docker-build/cuda10.0.yaml
  .gitlab/docker-build/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  cuda11.1-cudnn8/Dockerfile
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

change builder from dind to kaniko
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
Due: none

fixed docker build by kaniko
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
Due: none

add args --cache=true in cuda11.1-cudnn8 when build container image by kaniko
  .gitlab/docker-build/cuda10.0-docker.yaml
  .gitlab/docker-build/cuda10.0-fukushima.yaml
  .gitlab/docker-build/cuda10.0.yaml
  .gitlab/docker-build/cuda10.2-cudnn7-docker.yaml
  .gitlab/docker-build/cuda10.2-cudnn7.yaml
  .gitlab/docker-build/cuda10.2-cudnn8.yaml
  .gitlab/docker-build/cuda11.0-cudnn8.yaml
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
Due: none

add library version in docs
  .gitlab/docker-build/cuda11.1-cudnn8.yaml
  README.md
Due: none

delete check in docs
  README.md
Due: none

fixed cuda version in docs
  README.md
Due: none

fixed jupyterlab version in docs for cuda11.0 and cuda11.1
  README.md
Due: none

add note in docs for operating condition
  README.md
Due: none

make the cache work
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

add tabulate in all images
  cuda10.0-docker/Dockerfile
  cuda10.0-fukushima/Dockerfile
  cuda10.0/Dockerfile
  cuda10.2-cudnn7-docker/Dockerfile
  cuda10.2-cudnn7/Dockerfile
  cuda10.2-cudnn8/Dockerfile
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

upgrade jupyterlab version from 2.2.8 to 2.2.9
  cuda11.0-cudnn8/Dockerfile
  cuda11.1-cudnn8/Dockerfile
Due: none

add test Dockerfile
  .gitlab/docker-build/code-server-test.yaml
  code-server-test/Dockerfile
  code-server-test/config.yaml
Due: none

add script to build code-server-test in gitlab-ci.yml
  .gitlab-ci.yml
  code-server-test/Dockerfile
Due: docker19.03.12, docker19.03.12-dind, cuda10.0, cuda10.0-docker, cuda10.0-fukushima, cuda10.2-cudnn7, cuda10.2-cudnn7-docker, cuda10.2-cudnn8

fixed dockerfile
  code-server-test/Dockerfile
Due: none

fixed dockerfile
  .gitlab/docker-build/code-server-test.yaml
  code-server-test/Dockerfile
Due: none

fixed dockerfile
  .gitlab/docker-build/code-server-test.yaml
Due: none

fixed dockerfile in code-server-test
  code-server-test/Dockerfile
  code-server-test/config.yaml
Due: none

Path conditions:
  docker19.03.12: any of: docker19.03.12/*, .gitlab-ci.yml
  docker19.03.12-dind: any of: docker19.03.12-dind/*, .gitlab-ci.yml
  cuda10.0: any of: cuda10.0/*, .gitlab-ci.yml
  cuda10.0-docker: any of: cuda10.0-docker/*, .gitlab-ci.yml
  cuda10.0-fukushima: any of: cuda10.0-fukushima/*, .gitlab-ci.yml
  cuda10.2-cudnn7: any of: cuda10.2-cudnn7/*, .gitlab-ci.yml
  cuda10.2-cudnn7-docker: any of: cuda10.2-cudnn7-docker/*, .gitlab-ci.yml
  cuda10.2-cudnn8: any of: cuda10.2-cudnn8/*, .gitlab-ci.yml
